html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto, sans-serif;
    overflow: scroll;
}

body {
    margin: 0;
}

.head-background{
    background-color: #1f2937;
    display: flex;
    justify-content: center;
}

.head {
    color: #f9faf8;
    padding: 0.5em 6em 4em 6em;
    max-width: 60%;
}

.container-head-head {
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

.container-head-head ul {
    display: flex;
    gap: 1em;
    margin-left: auto;
}

li {
    list-style: none;
}

.logo {
    flex: 0 0 auto;
    border-radius: 50%;
    background-color: black;
    width: 50px;
    height: 50px;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

.vertical {
    align-items: flex-start;
    max-width: 40%;
    margin: 1em;
}

.container-head-main {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: 4em 0;
}

.placeholder {
    max-width: 45%;
    background-color: #77777f;
}

button {
    background-color: #3882f6;
    padding: 0.5em 2em;
    border-radius: 5px;
    color: #f9faf8;
    border: 0;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    padding: 1em;
}

.boxes-container {
    gap: 3em;
    margin-bottom: 3em;
}

.boxes {
    justify-content: baseline;
    align-items: center;
    max-width: 150px;
    height: 300px;
}

.box {
    height: 150px;
    width: 150px;
    border-radius: 20px;
    border: 4px solid #3882f6;
}

.boxes p {
    color: #77777f;
    text-align: center;
}

.main-body {
    background-color: #e5e7eb;
    padding: 8em;
}

.container-quote {
    justify-content: space-around;
    align-items: center;
    max-width: 60%;
}

.quote {
    font-size: 48px;
    font-style: italic;
    font-weight: 100;
    color: #1f2937;
}

.author {
    font-size: 26px;
    font-weight: 900;
    color: #1f2937;
    align-self: flex-end;
    padding: 1em;
}

.lower-body {
    margin: 8em;
}

.container-sign-up {
    background-color: #3882f6;
    padding: 2em 4em;
    border-radius: 20px;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text {
    color: #f9faf8;
    font-size: 16px;
    justify-content: center;
    margin-left: 4em;
}

h4 {
    font-size: 26px;
    margin: 0;
    margin-bottom: -8px;
}

.container-sign-up button {
    border: 3px solid #f9faf8;
    font-size: 18px;
    margin: 2em 4em;
}

.footer {
    background-color: #1f2937;
}

.footer p {
    color: #e5e7eb;
    font-size: 18px;
    margin: 3em;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-auto {
    flex: auto;
}